@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

body {
  font-family: Inter, sans-serif;
}

.container {
  position: fixed;
  inset: 0;
}

.custom-shape {
  padding: 1rem;
  border: 1px solid red;
}
